{{#each stations}}                    
  <div class="box mt-2">
    <a href="/station/{{_id}}?chart=temperature" class="button is-info">Temperature</a>
    <a href="/station/{{_id}}?chart=wind" class="button is-info">Wind</a>
    <a href="/station/{{_id}}?chart=pressure" class="button is-info">Pressure</a>
    <a href="/station/{{_id}}?chart=none" class="button is-info">Hide Chart</a>
  </div>
{{/each}}
<div style="width: 60%; margin: 0 auto; {{visibility}}">
  <canvas id="myChart"></canvas>
</div>

<script>
  const dataX = {{time}};
  const dataY = {{data}};

  const chartBody = document.getElementById('myChart').getContext('2d');   // Retrieves canvas intended for chart and interprets it as a 2D "workspace"

  const data = {
    labels: dataX, // X-values as hours from now
    datasets: [{
      label: 'Sample Data',
      data: dataY, // Y-values corresponding to the X-values
      backgroundColor: 'rgba(75, 192, 192, 0.2)',
      borderColor: 'rgba(75, 192, 192, 1)',
      borderWidth: 1,
      fill: false
    }]
  };

  const options = {
    scales: {
      x: {
        type: 'linear', // Change x-axis type to linear for numeric X-values
        title: {
          display: true,
          text: 'Hours from Now'
        }
      },
      y: {
        beginAtZero: true,
        title: {
          display: true,
          text: 'Y-Values'
        }
      }
    }
  };

  const myChart = new Chart(ctx, {
    type: 'line',
    data: data,
    options: options
  });
</script>
