<div class="box">  
  <table class="table is-fullwidth">
    <thead>
      <tr>
        <th class="has-text-centered">Date/Time</th>
        <th class="has-text-centered">Code</th>
        <th class="has-text-centered">Temperature</th>
        <th class="has-text-centered">Wind Speed</th>
        <th class="has-text-centered">Wind Direction</th>
        <th class="has-text-centered">Pressure</th>
        <th class="has-text-centered">Actions</th>
      </tr>
    </thead>
    <tbody>
      {{#each stations}}
        {{#each reports}}
        <tr>
          <td>
            {{reportDate}}
          </td>          
          <td>
            {{code}}
          </td>
          <td>
            {{temperature}}
          </td> 
          <td>
            {{windSpeed}}
          </td>
          <td>
            {{windDirection}}
          </td>
          <td>
            {{pressure}}
          </td>
          <td>
            <a href="/station/{{../_id}}/deleteReport/{{_id}}" class="button">
              {{> icons/delete}}
            </a>
          </td>
        </tr>
        {{/each}}
      {{/each}}
    </tbody>
  </table>
</div>