
<div class="box map has-text-light weatherBox mb-0">
  <img src="{{map}}" alt="Map">
  <div class="weatherIcon">
    {{> icons/location}}
  </div>
  <h1 class="title mb-1 is-4 has-text-light">
    {{name}}
  </h1>
  <hr style="margin-top: 10px; margin-bottom: 10px;">
  <p>Lat: {{latitude}}</p>
  <p>Lng: {{longitude}}</p>
</div>
<span style="margin-right: 4px;"></span>

<div class="box has-text-light weatherBox mb-0">  
  <div class="weatherIcon">
    <img src="{{attributes.weatherCode.icon}}" alt="{{attributes.weatherCode.description}}">
  </div>
  <h1 class="title mb-1 is-4 has-text-light">
    Weather
  </h1>
  <hr style="margin-top: 10px; margin-bottom: 10px;">
  <p>{{attributes.weatherCode.description}}</p>
  <p>&nbsp;</p>
</div>
<span style="margin-right: 4px;"></span>

<div class="box has-text-light weatherBox mb-0">
  <div class="weatherIcon">{{> icons/temperature}}</div>
  <h1 class="title mb-1 is-4 has-text-light">
    Temp. 
  </h1>
  <hr style="margin-top: 10px; margin-bottom: 10px;">
  <p>Max: {{attributes.maxTemp}}°C</p>
  <p>Min: {{attributes.minTemp}}°C</p>
</div>
<span style="margin-right: 4px;"></span>

<div class="box has-text-light weatherBox mb-0">
  <div class="weatherIcon">{{> icons/wind}}</div>
  <h1 class="title mb-1 is-4 has-text-light">
    Wind
  </h1>
  <hr style="margin-top: 10px; margin-bottom: 10px;">
  <p>Max: {{attributes.maxWind}} m/s</p>
  <p>Min: {{attributes.minWind}} m/s</p>
</div>
<span style="margin-right: 4px;"></span>

<div class="box has-text-light weatherBox mb-0">
  <div class="weatherIcon">{{> icons/pressure}}</div>
  <h1 class="title mb-1 is-4 has-text-light">
    Pressure
  </h1>
  <hr style="margin-top: 10px; margin-bottom: 10px;">
  <p>Max: {{attributes.maxPress}} hPa</p>
  <p>Min: {{attributes.minPress}} hPa</p>
</div>
<span style="margin-right: 4px;"></span>

