<div class="box has-text-light weatherBox">
  <div class="weatherIcon">{{> icons/location}}</div>
  <div class="level-item has-text-centered is-flex is-align-items-center">
    <p class="title is-4 has-text-light">
      {{station.name}}
    </p>
    <span>&nbsp;</span>
  </div>
  <hr style="margin-top: 10px; margin-bottom: 10px;">
  <p>Lat:{{station.latitude}}</p>
  <p>Lng:{{station.longitude}}</p>
</div>
<span style="margin-right: 4px;"></span>

<div class="box has-text-light weatherBox">  
  <img src="{{weatherCode.icon}}" alt="{{weatherCode.description}}" style="position: absolute; top: 10px; right: 10px; margin: 0;">
  <div class="level-item has-text-centered is-flex is-align-items-center">
    <p class="title is-4 has-text-light">
      Weather
    </p>
    <span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
    <span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
  </div>
  <hr style="margin-top: 10px; margin-bottom: 10px;">
  <p>{{weatherCode.description}}</p>
  <p>&nbsp;</p>
</div>
<span style="margin-right: 4px;"></span>

<div class="box has-text-light weatherBox">
  <div style="position: absolute; top: 10px; right: 10px; margin: 0;">{{> icons/temperature}}</div>
  <div class="level-item has-text-centered is-flex is-align-items-center">
    <p class="title is-4 has-text-light">
      Temp 
    </p>
    <span>&nbsp;</span>
  </div>
  <hr style="margin-top: 10px; margin-bottom: 10px;">
  <p>Max: {{maxTemp}}°C</p>
  <p>Min: {{minTemp}}°C</p>
</div>
<span style="margin-right: 4px;"></span>

<div class="box has-text-light weatherBox">
  <div class="level-item has-text-centered is-flex is-align-items-center">
    <p class="title is-4 has-text-light">
      Wind
    </p>
    <span>&nbsp;</span>
    {{> icons/wind}}
  </div>
  <hr style="margin-top: 10px; margin-bottom: 10px;">
  <p>Max:{{maxWind}}km/h</p>
  <p>Min:{{minWind}}km/h</p>
</div>
<span style="margin-right: 4px;"></span>

<div class="box has-text-light weatherBox">
  <div class="level-item has-text-centered is-flex is-align-items-center">
    <p class="title is-4 has-text-light">
      Pressure
    </p>
    <span>&nbsp;</span>
    {{> icons/pressure}}
  </div>
  <hr style="margin-top: 10px; margin-bottom: 10px;">
  <p>Max:{{maxPress}}kPa</p>
  <p>Min:{{minPress}}kPa</p>
</div>
<span style="margin-right: 4px;"></span>
